/* styles.css */

/* Import del font principale */
@import url(https://db.onlinewebfonts.com/c/34112b6c9abb17df441b616766e5024b?family=MarcinAnt);
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

body {
    margin: 0;
    font-family: "PT Serif Caption", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.top-bar, .main-nav, .headline cite, .en-directo {
    font-family: "MarcinAnt", Arial, Helvetica, sans-serif;
}

a:hover, .headline h2:hover, .headline h3:hover {
    opacity: 0.8;
    cursor: pointer;
}

.top-bar, .logo-container, .main-nav, .headlines, footer {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    background: #f5f5f5;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    font-family: "MarcinAnt", sans-serif;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.timezone {
    text-decoration: underline dotted;
}

.language-selector {
    position: relative;
    display: inline-block;
}

.language-selector:hover .dropdown {
    display: block;
}

.language-button {
    background: none;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.language-arrow {
    color: #009ff7;
    font-size: 0.5rem;
    margin-left: 4px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    z-index: 10;
    width: 150px;
}

.dropdown li {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    transition: opacity 0.4s, font-weight 0.4s, font-size 0.4s;
}

.dropdown li:hover {
    font-weight: bold;
    font-size: 0.77rem;
    opacity: 1;
}
.dropdown .active {
    font-weight: bold;
}

.active-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #00b1eb; /* celeste */
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
}

.has-submenu {
    display: block;
}

.has-submenu .submenu {
    display: block;
    list-style: none;
    margin-top: 0.3rem;
    padding-left: 1rem;
}

.submenu {
    position: static;
    top: 0;
    left: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
}

.submenu li {
    padding: 0.3rem 0;
    font-size: 0.68rem;
    white-space: nowrap;
    transition: opacity 0.4s, font-weight 0.4s, font-size 0.4s;
    font-weight: normal;
}
.submenu li:hover {
    font-weight: bold;
    font-size: 0.7rem;
    opacity: 1;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.subscribe-button-yellow {
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 0.4rem 0.7rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.4s;
}
.subscribe-button-yellow:hover {
    opacity: 0.8;
}

.login-button {
    background: white;
    color: black;
    border: 1px solid #ffc107;
    padding: 0.4rem 0.8rem;
    font-size: 0.7rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.login-arrow {
    font-size: 0.4rem;
    color: #000;
}
.login-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
}
.logo-container figure {
    transition: opacity 0.4s;
}

.hamburger-menu {
    position: absolute;
    left: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: #444;
    transition: opacity 0.4s;
}
.hamburger-menu:hover {
    opacity: 0.8;
}

.logo-image img {
    max-height: 60px;
}
.logo-container figure:hover {
    cursor: pointer;
    opacity: 0.8;
}

.main-nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.72rem;
    overflow-x: auto;
}

.main-nav li {
    list-style: none;
}

.main-nav li a {
    padding: 0.15rem 0.3rem;
    font-size: 0.75rem;
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.main-nav li a:hover {
    opacity: 0.8;
}

.main-nav .expres {
    background-color: #009ff7;
    font-weight: bold;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.7rem;
}

.right-icons{
    display: none;
}
.second-bar{
    display: none;
}

.sticky-bar {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    z-index: 10;
}

.sticky-bar.visible {
    top: 0;
}

.sticky-bar .hamburger-menu {
    font-size: 1.3rem;
    cursor: pointer;
    color: #444;
}

.sticky-bar .logo-image img {
    max-height: 40px;
}
.sticky-bar .logo-image{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 15rem;
}
.sticky-bar .logo-image:hover {
    cursor: pointer;
}

.sticky-bar .sticky-bar-buttons {
    display: flex;
    gap: 0.5rem;
}

.sticky-bar .subscribe-button-yellow,
.sticky-bar .login-button {
    font-size: 0.75rem;
    padding: 0.3rem 0.8rem;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .sticky-bar {
        display: none;
    }

    .top-bar .language-selector,
    .top-bar span:nth-child(5),
    .main-nav {
        display: none;
    }

    body, html {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .top-bar, .logo-container, .main-nav, .second-bar {
        max-width: 100%;
        margin: 0;
        padding: 0 0.8rem;
        box-sizing: border-box;
    }

    .top-bar {
        display: none;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #ddd;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
    }

    .left-logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .hamburger-menu {
        font-size: 1.6rem;
    }

    .logo-image img {
        height: 35px;
    }

    .right-icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .profile-icon img {
        width: 24px;
        height: 24px;
    }

    .subscribe-button-yellow {
        font-size: 0.6rem;
        padding: 0.3rem 0.5rem;
    }

    .second-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.4rem 1rem;
        margin-top: 0.8rem;
        background: #fff;
        font-size: 0.7rem;
        gap: 0.3rem;
        font-family: "MarcinAnt", Arial, Helvetica, sans-serif;
    }

    .second-bar .timezone{
        text-decoration: none;
    }
}
/*Tablet Layout*/
@media (min-width: 768px) and (max-width: 1023px) {
    .main-nav {
        position: relative;
        overflow: visible;
        width: 100%;
        padding-left: 0;
    }

    .main-nav ul {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        font-size: 0.65rem;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-padding-left: 0;
    }
    .main-nav ul li:first-child{
        margin-left: 0;
    }

    .main-nav ul::-webkit-scrollbar {
        height: 6px;
    }

    .main-nav ul::-webkit-scrollbar-thumb {
        background-color: #bbb;
        border-radius: 3px;
    }

    .main-nav li {
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
        scroll-snap-align: start;
    }

    .main-nav li a {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }

    .main-nav .expres {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }

    .main-nav::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(to left, white 80%, transparent);
        pointer-events: none;
        z-index: 2;
    }
}

/*MAIN SECTION*/
.content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
}

.left-column, .center-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.center-column img {
    max-width: 100%;
    height: auto;
}

.center-column{
    padding: 0 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.center-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 0;
}

.center-subgrid .headline {
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.center-subgrid .headline:first-child {
    border-right: 1px solid #ccc;
}

.headlines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    padding: 0.5rem 0;
}

.headline {
    border-bottom: 1px solid rgba(221, 221, 221, 0.7);
    padding-bottom: 0;
    margin-bottom: 0;
}
.headline:last-child {
    border-bottom: none;
}

.headline h2 {
    font-size: 1.4rem;
    font-weight: bold;
    transition: opacity 0.4s;
    margin-bottom: 0.4rem;
}
.headline h3 {
    font-size: 0.865rem;
    font-weight: bold;
    transition: opacity 0.4s;
    padding-top: 0.7rem;
}
.headline p {
    font-size: 0.9rem;
    color: #444;
    padding-bottom: 0.2rem;
    margin-top: 0.5rem;
}
.headline cite {
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
}

.center-column > .headline:first-child h2 {
    font-size: 1.7rem;
    font-weight: bold;
    transition: opacity 0.4s;
}
.center-column > .headline:first-child p {
    font-size: 1rem;
    color: #444;
}

.center-subgrid .headline h2 {
    font-size: 1.1rem;
}

.center-subgrid .headline p {
    font-size: 0.8rem;
}

.center-subgrid .headline cite {
    font-size: 0.6rem;
}


.headline figure:hover {
    cursor: pointer;
}

.image-container {
    width: 100%;
    margin: 0;
    padding-bottom: 0.8rem;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

figcaption {
    font-size: 0.75rem;
    color: #666;
    margin-top: 0.25rem;
    text-align: right;
}

footer {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.75rem;
    color: #666;
}
.en-directo {
    color: red;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.en-directo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.badge-e {
    background-color: #ffc20e;
    color: black;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    border-radius: 2px;
    vertical-align: top;
    position: relative;
    top: 0.4rem;
    left: 0.1rem;
}

.center-column > .center-subgrid .headline:first-child .badge-e{
    top: 0.1rem;
}

h3 .badge-e{
    top: -0.1rem;
}

.center-column > .headline:first-child .badge-e {
    top: 0.6rem;
}

.mini-section-title {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    margin: 0.7rem 0 1rem;
}

.title-line {
    width: 25px; /* lunghezza della linea */
    height: 0.05rem;
    background-color: #000;
    flex-shrink: 0;
    margin-top: 0.5rem; /* posizione della linea rispetto al testo */
}

/* Mobile Layout */
@media (max-width: 767px) {
    .content-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0.5rem;
    }

    .center-column {
        order: 1;
        border: none;
        padding: 0;
    }

    .left-column {
        order: 2;
    }

    .right-column {
        order: 3;
    }

    .center-subgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .center-subgrid .headline:first-child {
        border-right: none;
    }

    .headline {
        border-bottom: 1px solid rgba(221, 221, 221, 0.7);
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .center-column > .headline:first-child h2 {
        font-size: 1.5rem;
    }

    .center-column > .headline:first-child p {
        font-size: 0.9rem;
    }

    .headline h2 {
        font-size: 1.2rem;
    }

    .headline p {
        font-size: 0.8rem;
    }

    .headline cite {
        font-size: 0.6rem;
    }

    .center-column > .headline:first-child{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-column > .headline:first-child .en-directo{
        order: 1;
        font-size: 0.6rem;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .center-column > .headline:first-child h2 {
        order: 2;
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .center-column > .headline:first-child figure {
        order: 3;
        width: 100%;
        margin: 0.5rem 0;
    }

    .center-column > .headline:first-child p {
        order: 4;
        font-size: 0.9rem;
        color: #333;
        margin: 0.5rem 0;
    }

    .center-column > .headline:first-child h3{
        order: 5;
        font-size: 0.865rem;
        font-weight: bold;
        margin: 0.5rem 0;
        text-align: left;
    }

    .center-column > .headline:first-child cite {
        display: none;
    }
}
/*Tablet Layout*/
@media (min-width: 768px) and (max-width: 1023px) {
    .headline h2 {
        font-size: 0.9rem;
    }

    .headline h3 {
        font-size: 0.55rem;
    }

    .headline p {
        font-size: 0.6rem;
    }

    .headline cite {
        font-size: 0.4rem;
    }

    .center-column > .headline:first-child h2 {
        font-size: 0.9rem;
    }

    .center-column > .headline:first-child p {
        font-size: 0.5rem;
    }

    .center-subgrid .headline h2 {
        font-size: 0.8rem;
    }

    .center-subgrid .headline p {
        font-size: 0.65rem;
    }

    .center-subgrid .headline cite {
        font-size: 0.35rem;
    }

    .headline figcaption{
        font-size: 0.5rem;
    }

    .en-directo {
        font-size: 0.5rem;
    }

    .badge-e {
        font-size: 0.5rem;
        width: 0.7rem;
        height: 0.7rem;
        top: 0.2rem;
    }

    .mini-section-title {
        font-size: 0.65rem;
    }
}

/*COPA DEL REY SECTION*/
.section-copadelrey {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.section-divider {
    border-top: 1px solid black;
    margin-bottom: 4.5rem;
    margin-top: 2.5rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.section-title {
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block; /* importante per il thick-line corto */
}

.section-title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.section-title h2:hover{
    opacity: 0.8;
    cursor: pointer;
}

.thick-title-line {
    flex-grow: 1;
    height: 3px;
    background-color: black;
    margin-top: 1rem;
    width: calc(100% + 3rem);
}

.thick-line {
    flex-grow: 1;
    height: 6px;
    background-color: black;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.thin-line {
    border: none;
    border-top: 1px solid black;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.article-wrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.article-image {
    flex: 1;
}

.article-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3.5rem;
}

.article-text .en-directo {
    color: red;
    font-weight: bold;
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
}

.article-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.2rem 0;
    font-family: "PT Serif Caption", serif;
    transition: opacity 0.4s;
}

.article-text h3 {
    font-size: 0.865rem;
    font-weight: bold;
    transition: opacity 0.4s;
}

.article-text cite {
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.75rem;
    color: #666;
    margin: 0.5rem 0;
}

.article-text p{
    font-size: 0.9rem;
    color: #333;
    margin: 0.5rem 0;
}

.article-image figure {
    margin: 0;
}
.article-image figure:hover {
    cursor: pointer;
}

.article-text h1:hover,
.article-text h3:hover{
    opacity: 0.8;
    cursor: pointer;
}

.article-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-image figcaption {
    font-size: 0.75rem;
    color: #666;
    margin-top: 0.1rem;
    text-align: right;
}

/* Mobile Layout */
@media (max-width: 1023px) {
    .article-wrapper {
        flex-direction: column;
    }

    .article-text {
        margin-top: 0;
        text-align: left;
    }

    .article-text h1 {
        font-size: 1.5rem;
    }

    .article-text p {
        font-size: 0.85rem;
    }
}

/*ACTUALIDAD SECTION*/
.section-actualidad {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.actualidad-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin-top: -2rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid #ddd;
}

.actualidad-left-column, .actualidad-center-column, .actualidad-right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 8rem;
}

.actualidad-center-column {
    padding: 0 1rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.actualidad-right-column {
    position: sticky;
    top: 1rem;
    align-self: start;
}
.actualidad-right-column figure:hover{
    cursor: pointer;
}

.newsletter-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 0.6rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 2px;
    float: right;
    transition: opacity 0.5s;
    margin-bottom: 1rem;
}

.newsletter-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.actualidad-sub-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr; /* 4 colonne strette + 1 più larga */
    gap: 0;
    margin-top: 2rem;
    align-items: start;
}

.mini-column {
    background-color: #f9f9f9;
    padding: 1rem;
    border-right: 2px solid #ddd;
    min-height: 300px;
}

.mini-column:last-child {
    border-right: none;
}

.mini-column img {
    width: 100%;
    height: auto;
    display: block;
}
.mini-column figure:hover{
    cursor: pointer;
}

.mini-headline h2 {
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 0.4s;
    margin-bottom: 0.4rem;
}
.mini-headline cite {
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
}

.mini-headline h2:hover{
    opacity: 0.8;
    cursor: pointer;
}

.mini-headline > h2 .badge-e {
    top: 0.1rem;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .newsletter-button{
        padding: 0.3rem 0.4rem;
        font-size: 0.7rem;
    }

    .actualidad-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }

    .actualidad-left-column,
    .actualidad-center-column,
    .actualidad-right-column {
        margin-bottom: 0;
    }

    .actualidad-center-column {
        padding: 0;
        border: none;
    }

    .actualidad-right-column {
        position: static;
        align-self: auto;
    }

    .actualidad-sub-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
    }

    .mini-column {
        border-right: none;
        min-height: auto;
        padding: 0.5rem;
    }

    .actualidad-sub-grid .mini-column:nth-child(5) {
        grid-column: 1 / -1;
        padding: 1rem;
    }

    .actualidad-sub-grid .mini-column:nth-child(5) img {
        width: 100%;
        height: auto;
        display: block;
        max-height: 300px;
        object-fit: cover;
    }
}
/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    .actualidad-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "left center"
            "right right";
    }

    .actualidad-left-column {
        grid-area: left;
    }

    .actualidad-center-column {
        grid-area: center;
        border-right: none;
    }

    .actualidad-right-column {
        grid-area: right;
        position: static;
        margin-top: -2rem;
    }
    .actualidad-right-column figure img{
        width:80%;
    }

    .actualidad-sub-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "col1 col2 col3 col4"
            "pub pub pub pub";
        margin-top: -4rem;
    }

    .actualidad-sub-grid > .mini-column:nth-child(1) { grid-area: col1; }
    .actualidad-sub-grid > .mini-column:nth-child(2) { grid-area: col2; }
    .actualidad-sub-grid > .mini-column:nth-child(3) { grid-area: col3; }
    .actualidad-sub-grid > .mini-column:nth-child(4) { grid-area: col4; border-right: none; }
    .actualidad-sub-grid > .mini-column:nth-child(5) { grid-area: pub; }
    .actualidad-sub-grid > .mini-column:nth-child(5) img{
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
    }
}

/*MAS VISTO SECTION*/
.mas-visto {
    max-width: 1200px;
    margin: -5rem auto 2rem;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.mas-visto_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: flex-start;
}


.mas-visto_list {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    gap: 1rem;
    counter-reset: list-counter;
}

.mas-visto_list li {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2.5rem;
    counter-increment: list-counter;
    transition: opacity 0.4s;
}
.mas-visto_list li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.mas-visto_list li::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    line-height: 1;
}

.mas-visto_ad img {
    width: 90%;
    height: auto;
    display: block;
}

.mas-visto_ad figure:hover{
    cursor: pointer;
}

/* Mobile Layout */
@media (max-width: 1023px) {
    .mas-visto_content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .mas-visto_list {
        display: block;
        border-right: none;
        padding-right: 0;
    }

    .mas-visto_list li {
        margin-bottom: 1.5rem;
    }

    .mas-visto_ad img {
        width: 100%;
        height: auto;
    }
}


/*OFERTAS SECTION*/
.ofertas {
    font-family: "MarcinAnt", Arial, sans-serif;
    max-width: 1200px;
    margin: 7rem auto;
    padding: 0 1rem;
}

.ofertas-navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #ddd;
}

.ofertas-navbar li {
    margin-right: 2rem;
    position: relative;
}

.ofertas-navbar a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    padding: 0.5rem 0;
    display: inline-block;
}

.ofertas-navbar .active a {
    font-weight: bold;
    color: black;
}

.ofertas-navbar .active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: teal; /* colore della riga sotto */
}

.cursos-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 0;
    margin-top: 1.3rem;
}

.cursos-grid figure:hover{
    cursor: pointer;
}

.cursos-banner,
.cursos-big-column,
.cursos-mini-column {
    border-right: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.cursos-grid > :last-child {
    border-right: none;
}

.cursos-banner img,
.cursos-big-column img,
.cursos-mini-column img {
    width: 100%;
    height: auto;
    display: block;
}

.cursos-big-column p,
.cursos-mini-column p {
    font-size: 0.9rem;
    margin-top: -0.2rem;
    flex-grow: 1;
    transition: opacity 0.4s;
}

.cursos-big-column p:hover,
.cursos-mini-column p:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .ofertas-navbar {
        display: none;
    }

    .cursos-grid::before {
        content: "Recomendaciones EL PAÍS ▼";
        display: block;
        font-weight: bold;
        font-size: 0.95rem;
        color: black;
        margin-bottom: 1.5rem;
        font-family: "MarcinAnt", Arial, sans-serif;
    }

    .cursos-grid {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .cursos-banner {
        margin: 0;
        padding: 0;
    }

    .cursos-banner figure {
        margin: 0;
        padding: 0;
    }

    .cursos-banner img {
        content: url("https://picsum.photos/500/100");
        width: 100%;
        height: auto;
        display: block;
    }

    .cursos-big-column {
        margin: 0;
        padding: 0;
        border: none;
    }

    .cursos-big-column figure {
        margin: 0;
    }

    .cursos-big-column img {
        width: 100%;
        height: auto;
        display: block;
        padding: 0;
        margin: 0;
    }

    .cursos-big-column p {
        margin-left: 0;
        padding-left: 0;
        margin-top: 0.4rem;
        padding-top: 0.4rem;
        font-size: 0.95rem;
    }

    .cursos-mini-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
    }

    .cursos-mini-column figure {
        margin: 0;
        padding: 0;
    }

    .cursos-mini-column img {
        width: 150px;
        height: 100px;
        display: block;
        padding: 0;
        margin: 0;
    }

    .cursos-mini-column p {
        margin: 0 0 0 0.2rem;
        padding: 0 0 0 0.2rem;
        font-size: 0.75rem;
        flex: fit-content;
        line-height: 1.2;
    }

    .cursos-banner,
    .cursos-big-column,
    .cursos-mini-column {
        border: none;
    }
}

/* Tablet Layout */
@media (min-width: 767px) and (max-width: 1023px) {
    .ofertas-navbar {
        display: none;
    }

    .cursos-grid::before {
        content: "Recomendaciones EL PAÍS ▼";
        display: block;
        font-weight: bold;
        font-size: 0.95rem;
        color: black;
        margin-bottom: 1.5rem;
        font-family: "MarcinAnt", Arial, sans-serif;
    }

    .cursos-grid {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .cursos-banner {
        margin: 0;
        padding: 0;
    }

    .cursos-banner figure {
        margin: 0;
        padding: 0;
    }

    .cursos-banner img {
        content: url("https://picsum.photos/500/100");
        width: 90%;
        height: auto;
        display: block;
    }

    .cursos-big-column {
        margin: 0;
        padding: 0;
        border: none;
    }

    .cursos-big-column figure {
        margin: 0;
    }

    .cursos-big-column img {
        width: 90%;
        height: auto;
        display: block;
        padding: 0;
        margin: 0;
    }

    .cursos-big-column p {
        margin-left: 0;
        padding-left: 0;
        margin-top: 0.4rem;
        padding-top: 0.4rem;
        font-size: 1.2rem;
    }

    .cursos-mini-column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
    }

    .cursos-mini-column figure {
        margin: 0;
        padding: 0;
    }

    .cursos-mini-column img {
        width: 250px;
        height: 150px;
        display: block;
        padding: 0;
        margin: 0;
    }

    .cursos-mini-column p {
        margin-left: -10rem;
        padding-left: -10rem;
        font-size: 1.5rem;
        flex: fit-content;
        line-height: 1.2;
    }

    .cursos-banner,
    .cursos-big-column,
    .cursos-mini-column {
        border: none;
    }
}

/*OPINION SECTION*/
.opinion-section {
    max-width: 1200px;
    margin: 2rem auto 4rem;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.opinion-grid {
    display: grid;
    grid-template-columns: 1.2fr repeat(5, 1fr);
    gap: 1rem;
}

.opinion-editorial {
    padding: 0 1rem 1rem;
    border-right: 1px solid #ccc;
    text-align: center;
}

.editorial-label {
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.75rem;;
    text-transform: uppercase;
    color: #666;
    display: block;
    margin-bottom: 0.5rem;
}

.opinion-editorial h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: opacity 0.4s;
}

.opinion-editorial p {
    font-size: 0.9rem;
    color: #333;
}

.opinion-column {
    padding: 0 1rem 1rem 0;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.opinion-column:last-child {
    border-right: none;
}

.opinion-column h3 {
    font-size: 1.1rem;
    font-weight: bold;
    transition: opacity 0.4s;
}

.opinion-column p {
    font-size: 0.9rem;
    color: #333;
}

.opinion-column cite {
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
}
.opinion-column > h3 .badge-e {
    top: 0.170rem;
}
.opinion-column h3:hover{
    opacity: 0.8;
    cursor: pointer;
}
.opinion-editorial h3:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .opinion-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .opinion-editorial,
    .opinion-column {
        padding: 0 1rem 1rem 0;
        border-right: 1px solid #ccc;
        border-bottom: none;
    }

    .opinion-editorial:nth-child(2n),
    .opinion-column:nth-child(2n) {
        border-right: none;
    }

    .opinion-editorial h3,
    .opinion-column h3 {
        font-size: 1rem;
    }

    .opinion-editorial p,
    .opinion-column p {
        font-size: 0.85rem;
    }
}
/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
    .opinion-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .opinion-editorial,
    .opinion-column {
        padding: 0 1rem 1rem 0;
        border-right: 1px solid #ccc;
        border-bottom: none;
    }

    .opinion-editorial:nth-child(3n),
    .opinion-column:nth-child(3n) {
        border-right: none;
    }

    .opinion-editorial h3,
    .opinion-column h3 {
        font-size: 1rem;
    }

    .opinion-editorial p,
    .opinion-column p {
        font-size: 0.85rem;
    }

    .opinion-column .badge-e{
        font-size: 0.7rem;
        width: 0.9rem;
        height: 0.9rem;
        top: 0.2rem;
    }
}


/*DEPORTES SECTION*/
.section-deportes {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}
.section-deportes figure{
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem 0 0;
}

.deportes-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    align-items: start;
}

.deportes-news {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid #ddd;
    padding-right: 3rem;
}

.deportes-featured {
    display: flex;
    gap: 1rem;
}

.featured-image{
    flex: 1;
}

.featured-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.featured-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image-caption {
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.75rem;
    color: #666;
}

.featured-text h1 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
}

.featured-text cite{
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.65rem;
    color: #666;
    margin: 0.5rem 0;
    font-style: normal;
}

.featured-text p{
    font-size: 0.9rem;
    color: #333;
    margin: 0.5rem 0 1rem 0;
}


.deportes-small-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.small-article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    border-right: 2px solid #ddd;
}
.small-article:last-child {
    border-right: none;
}

.small-article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.small-article h3 {
    font-size: 1rem;
    margin: 0.5rem 0 0.2rem;
    font-weight: bold;
}

.small-article cite{
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
}

.deportes-advert figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.deportes-featured h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 0.2rem 0;
    font-family: "PT Serif Caption", serif;
    transition: opacity 0.4s;
}
.deportes-featured h3{
    font-size: 0.865rem;
    font-weight: bold;
    transition: opacity 0.4s;
    padding-top: 0.7rem;
}
.deportes-featured h3:hover,
.deportes-featured h1:hover{
    opacity: 0.8;
    cursor: pointer;
}

.deportes-featured .mini-section-title {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    margin: 0.6rem 0 1rem;
}
.deportes-featured .mini-section-title .title-line {
    width: 25px;
    height: 0.05rem;
    background-color: #000;
    flex-shrink: 0;
    margin-top: 1.2rem;
}
.section-deportes figure:hover{
    cursor: pointer;
}
.small-article h3:hover{
    opacity: 0.8;
    cursor: pointer;
}

.deportes-advert {
    position: sticky;
    top: 1rem;
    align-self: start;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .deportes-grid {
        grid-template-columns: 1fr;
    }
    .deportes-featured {
        flex-direction: column;
    }

    .deportes-small-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .deportes-small-grid h3{
        font-size: 0.8rem;
    }

    .deportes-news {
        border-right: none;
        padding-right: 0;
    }

    .small-article {
        padding-right: 0;
        border-right: none;
    }

    .deportes-advert {
        position: static;
        padding-left: 0;
        border-left: none;
        margin-top: 2rem;
    }

    .featured-text h1 {
        font-size: 1.5rem;
    }

    .featured-text p {
        font-size: 0.85rem;
    }

    .deportes-featured .mini-section-title {
        margin-top: 1rem;
    }
}
/*Tablet Layout*/
@media (min-width: 768px) and (max-width: 1023px) {
    .deportes-grid {
        display: flex;
        flex-direction: column;
    }

    .deportes-news {
        border-right: none;
        padding-right: 0;
    }

    .deportes-featured h1 {
        font-size: 1.4rem;
    }

    .deportes-featured h3 {
        font-size: 0.75rem;
        padding-top: 0.5rem;
    }

    .featured-text p {
        font-size: 0.8rem;
    }

    .featured-text cite,
    .small-article cite {
        font-size: 0.6rem;
    }

    .image-caption {
        font-size: 0.65rem;
    }

    .small-article h3 {
        font-size: 0.85rem;
    }

    .deportes-featured .mini-section-title {
        font-size: 0.85rem;
    }

    .deportes-small-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.75rem;
    }

    .deportes-advert {
        position: static;
        margin-top: 2rem;
    }
    .deportes-advert figure img{
        width: 200%;
        height: auto;
        object-fit: cover;
        margin-left: 150%;
    }
}


/*CULTURA SECTION*/
.section-link {
    color: #000;
    font-size: 0.655rem;
    text-transform: uppercase;
    float: right;
    margin-bottom: 1rem;
    transition: opacity 0.4s;
    font-family: "MarcinAnt", Arial, sans-serif;
}
.section-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-cultura {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.cultura-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
    margin-bottom: -3rem;
}
.cultura-column{
    border-right: 1px solid #ccc;
}
.cultura-column:last-child {
    border: none;
}
.cultura-main-column{
    border-right: 1px solid #ccc;
}
.cultura-grid figure:hover{
    cursor: pointer;
}
.cultura-grid figure{
    margin: 0 1rem 0 0;
    padding: 0 1rem 0 0;
}

.cultura-main-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cultura-main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cultura-main-image figcaption {
    font-size: 0.75rem;
    color: #666;
    margin-top: 0.25rem;
    text-align: right;
}

.cultura-main-text h1 {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0.5rem 0 0;
    transition: opacity 0.4s;
}

.cultura-main-text p{
    font-size: 0.9rem;
    color: #333;
    margin: 0.5rem 0;
}

.cultura-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cultura-article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cultura-article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cultura-article h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.3rem 0 0;
    transition: opacity 0.4s;
}

.cultura-article cite,
.cultura-main-text cite {
    font-family: "MarcinAnt", Arial, sans-serif;
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
    transition: opacity 0.4s;
}

.cultura-main-text h1:hover,
.cultura-article h3:hover{
    opacity: 0.8;
    cursor: pointer;
}

.cultura-article > h3 .badge-e {
    top: 0.185rem;
}
.cultura-main-text > h1 .badge-e{
    top: 0.6rem;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .cultura-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    .cultura-main-column {
        order: 1;
        border-right: none;
    }

    .cultura-column {
        order: 2;
        border-right: none;
    }

    .section-cultura h2 {
        font-size: 1.3rem;
    }

    .section-link {
        float: none;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }

    .cultura-main-text h1 {
        font-size: 1.5rem;
        text-align: left;
    }

    .cultura-main-text p,
    .cultura-main-text cite {
        text-align: left;
    }

    .cultura-main-image figcaption {
        text-align: right;
    }

    .cultura-article h3 {
        font-size: 1.05rem;
    }
}
/*Tablet Layout*/
@media (min-width: 768px) and (max-width: 1023px) {
    .cultura-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "main main"
            "col1 col2";
        gap: 2rem;
    }

    .cultura-main-column {
        grid-area: main;
        border-right: none;
    }

    .cultura-column:nth-child(2) {
        grid-area: col1;
        border-right: none;
    }

    .cultura-column:nth-child(3) {
        grid-area: col2;
        border-right: none;
    }

    .cultura-main-text h1 {
        font-size: 1.5rem;
    }

    .cultura-main-text p {
        font-size: 0.8rem;
    }

    .cultura-main-text cite {
        font-size: 0.6rem;
    }

    .cultura-article h3 {
        font-size: 1rem;
    }

    .cultura-article cite {
        font-size: 0.6rem;
    }

    .cultura-main-image img {
        width: 90%;
        height: auto;
        object-fit: cover;
        margin-left: 10%;
    }
}


/*MEJOR DE LA SEMANA SECTION*/
.mejorsemana-section{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.subscribe-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 2px;
    transition: opacity 0.5s;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.subscribe-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.mejorsemana-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.semana-article {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}
.semana-article:last-child {
    border-right: none;
}

.semana-article figure {
    margin: 0 0.7rem 0 0;
    padding: 0 0.7rem 0 0;
}
.semana-article figure:hover{
    cursor: pointer;
}

.semana-article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.semana-article-text {
    margin-top: 0.8rem;
}

.semana-article-text h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    transition: opacity 0.4s;
}
.semana-article-text h3:hover{
    opacity: 0.8;
    cursor: pointer;
}

.semana-article-text cite {
    font-size: 0.65rem;
    color: #666;
    font-style: normal;
    font-family: "Marcin Ant", Arial, sans-serif;
}

.semana-article-text > h3 .badge-e {
    top: 0.23rem;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .mejorsemana-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .semana-article {
        border-right: none;
        padding-right: 0.5rem;
    }

    .mejorsemana-grid > .semana-article:nth-child(1),
    .mejorsemana-grid > .semana-article:nth-child(3) {
        border-right: 1px solid #ddd;
    }

    .mejorsemana-section h2 {
        font-size: 1.25rem;
    }

    .semana-article h3{
        font-size: 0.8rem;
    }

    .subscribe-button {
        margin-top: -0.4rem;
    }
}

/* EN VIDEO SECTION */
.envideo-section{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: "PT Serif Caption", serif;
}

.envideo-grid {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: nowrap;
}

.video-card {
    position: relative;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    aspect-ratio: 9 / 16;
    align-items: center;
    justify-content: center;
}

.video-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.video-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 1.2), transparent);
    padding: 1.2rem 1rem 2rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    box-sizing: border-box;
}
.video-overlay p{
    margin-bottom: 1.1rem;
    padding-bottom: 1.1rem;
}

.video-overlay:hover{
    cursor: pointer;
}

.play-icon {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 0.4rem;
}

.play-icon-bottom {
    position: absolute;
    left: 0.7rem;
    bottom: 0.7rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.3rem 0.5rem 0.3rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .envideo-grid {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-right: 3rem;
    }

    .video-card {
        min-width: 70%;
        scroll-snap-align: start;
        flex-shrink: 0;
        position: relative;
    }
    .envideo-grid::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        pointer-events: none;
    }

    .envideo-section {
        position: relative;
    }
}

/* TABLET: da 768px a 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .envideo-grid {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-right: 3rem;
    }

    .video-card {
        min-width: 35%;
        scroll-snap-align: start;
        flex-shrink: 0;
        position: relative;
    }

    .envideo-grid::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        pointer-events: none;
    }
}

